*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body {
    background-color: #ffc3da;
    
}

.envelope-wrapper {
    height: 380px;
    overflow: hidden;
}

#envelope {
    position: relative;
    height: 180px;
    width: 280px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    background-color: #FF6863;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

#envelope:hover {
    cursor: pointer;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap {
    border-top: 98px solid #FF6863;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    transform-origin: top;
}

.pocket {
    border-left: 140px solid #FF8BA0;
    border-right: 140px solid #FF8BA0;
    border-bottom: 90px solid #FFA8B5;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.letter {
    position: relative;
    background-color: white;
    width: 90%;
    height: 90%;
    top: 5%;
    border-radius: 10px;
    box-shadow: 0 5px 26px rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
}

.letter:after {
    content: "";
    position: absolute;
    top: -30%;
    bottom: 90%;
    left: 0;
    right: 0;
}

.words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.line1 {
    top: 15%;
    left: 5%;
}
.line2 {
    top: 35%;
    left: 5%;
}
.line3 {
    top: 72%;
    text-align: center;
}
.line4 {
    top: 82%;
    text-align: center;
}

.open .flap {
    transform: rotatex(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
}

.close .flap {
    transform: rotatex(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}

.open .letter {
    transform: translatey(-80px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

.close .letter {
    transform: translatey(0deg);
    transition: transform 0.4s ease, z-index 5s;
    z-index: 1;
}

.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
    animation: fly 3s linear forwards;
}






.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.heart:before, .heart:after {
    position: absolute;
    content: "";
    background: #d00000;
    width: 50px;
    height: 80px;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.close .heart {
    opacity: 0;
    animation: none;
}







.a1 {
    left: 10%;
    top: 20%; 
    transform: scale(0.6); 
    animation: slideUp 5s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    
}
.a2 { 
    left: 30%;
    top: 40%; 
    transform: scale(1); 
    opacity: 1;
    animation: slideUp 6.1s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    }
.a3 { 
    left: 50%; 
    top: 10%;
    transform: scale(0.8); 
    animation: slideUp 6.9s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 5s;

    }
.a4 { 
    left: 70%; 
    top: 30%;
    transform: scale(0.4); 
    opacity: 1;
    animation: slideUp 4s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    
}
.a5 { 
    left: 20%; 
    top: 50%;
    transform: scale(0.5);
    opacity: 1;
    animation: slideUp 1.9s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    
}
.a6 { 
    left: 40%; 
    top: 60%; 
    transform: scale(0.7); 
    opacity: 1;
    animation: slideUp 7.1s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 3.7s;
    
}
.a7 { 
    left: 60%;
    top: 20%; 
    transform: scale(0.9); 
    opacity: 1;
    animation: slideUp 7.5s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 4.2s;
    
}
    
.a8 { 
    left: 80%;
    top: 40%; 
    transform: scale(0.3);
    opacity: 1;
    animation: slideUp 7.9s linear 1, sideSway 4.1s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 7.1s;
    
}
.a9 { 
    left: 15%;
    top: 25%; 
    transform: scale(0.6); 
    opacity: 1;
    animation: slideUp 8s linear 1, sideSway 5s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
}
.a10 { 
    left: 35%; 
    top: 45%; 
    transform: scale(1); 
    opacity: 1;
    animation: slideUp 8.5s linear 1, sideSway 1s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.9;
    
}
.a11 {
    left: 55%;
    top: 15%; 
    transform: scale(0.8); 
    opacity: 1;
    animation: slideUp 4.9s linear 1, sideSway 3s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 2.5;
    }
.a12 {
    left: 75%; 
    top: 35%;
    transform: scale(0.4);
    opacity: 1;
    animation: slideUp 4.5s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 2.9;
    }
.a13 { 
    left: 25%;
    top: 55%; 
    transform: scale(0.5); 
    animation-delay: 1.3s; 
    animation: slideUp 2s linear 1, sideSway 2s linear 6 alternate; 
    
}
.a14 { 
    left: 45%;
    top: 65%; 
    transform: scale(0.7); 
    opacity: 1;
    animation: slideUp 4.5s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 2.4;
    
}
.a15 { 
    left: 5%; 
    top: 25%; 
    transform: scale(0.9);
    animation-delay: 1.5s; 
    animation: slideUp 5.2s linear 1, sideSway 6s linear 6 alternate; 
    
}
.a16 {
    left: 85%; 
    top: 45%;
    transform: scale(0.3);
    opacity: 1;
    animation: slideUp 5s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    }
.a17 {
    left: 1%;
    top: 28%; 
    transform: scale(0.6); 
    opacity: 1;
    animation: slideUp 5.1s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 18.1s;
    }
.a18 {
    animation: slideUp 7.1s linear 1, sideSway 2s linear 6 alternate; 
    left: 8%; 
    top: 3%;
    transform: scale(1);
    animation-delay: 18s;
    
    }
.a19 { 
    left: 58%; 
    top: 18%; 
    transform: scale(0.8); 
    animation-delay: 19.5s; 
    animation: slideUp 3.6s linear 1, sideSway 2s linear 6 alternate; 
    
}
.a20 {
    left: 78%; 
    top: 0%;
    transform: scale(0.4); 
    opacity: 1;
    animation: slideUp 2.2s linear 1, sideSway 2s  linear 6 infinite;
    animation-fill-mode: forwards;
    animation-delay: 19s;
    
}
.a21 {
    left: 50%; 
    top: 0%;
    transform: scale(1); 
    opacity: 1;
    animation: slideUp 22s linear 1, sideSway 2s  linear 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 20s;
    
}







@keyframes slideUp {
    0% {
       transform: scale(0.1);
       top: 0;
    }
    50% {
        top: -600px;
        transform: scale(1);
    }
    80%{
        top: -800px;
        transform: scale(1.5);
    }
    100%{
        top: -1000px;
        transform: scale(0);
    }
}


@keyframes sideSway {
    0% {
        margin-left: 1px;
    }
    100%{
        margin-right: 500px;
    }
}



.reset {
    text-align: center;
}

.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px #FF6863;
    border-radius: 4px;
    color: #FF6863;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 5px;
    padding: 10px;
    line-height: 2em;
    text-decoration: none;
    min-width: 150px;
    outline: none;
    
}

.reset button:hover {
    background-color: #FF6863;
    cursor: pointer;
    color: white;
}

.valentine {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(20, 20, 20);
    font-size: 40px;
    margin: 10px;
    position: absolute;
    top: 32%;
    z-index: 5;
    left: 1px;
    font-weight: bolder;
    color: black;
    
}

.copyright{
    width: 99%;
    position: absolute;
    bottom: 0;
    place-items: center;
    border-radius: 3px;
}

div span{
    display: flex;
    font-weight: bolder;
    color: gray;
}
